[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tts = {editable = true, path = "."}
autopep8 = "*"
pylint = "*"
pycodestyle = "*"
isort = "*"
pipenv-setup = "*"
rope = "*"

[packages]
audio-utils = {editable = true, path = "./../audio-utils"}
general-utils = {editable = true, path = "./../general-utils"}

[requires]
python_version = "3.8"
